/* === Variables === */
:root {
    --default-font-size: 18px;
    --h3-font-size: 20px;
    --h2-font-size: 24px;
    --h1-font-size: 28px;

    --default-text-color: hsl(0, 0%, 30%);
    --default-background-color: hsl(0, 0%, 100%);

    --header-background-color: hsl(0, 0%, 98%);
    --header-text-color: hsl(226, 66%, 55%);

    --title-text-color: hsl(0, 0%, 10%);
    --accent-text-color: hsl(281, 37%, 52%);
    --link-text-color: hsl(226, 66%, 55%);
    --footer-text-color: hsl(0, 0%, 50%);
    
    --code-background-color: hsl(0, 0%, 95%);
    --code-border-color: hsl(0, 0%, 90%);
    --code-help-background-color: hsl(50, 31%, 95%);
    --code-help-border-color: hsl(50, 30%, 90%);
    --code-meta-text-color: hsl(111, 60%, 37%);
    --code-shell-text-color: hsl(4, 60%, 50%);
    --code-pkg-text-color: hsl(226, 66%, 55%);
    
    --comment-background-color: hsl(200, 30%, 95%);
    --comment-border-color: hsl(200, 30%, 90%);

    --separator-color: hsl(0, 0%, 80%);
}

/* === Reset === */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* === General === */
html {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: var(--default-font-size);
    color: var(--default-text-color);
    background-color: var(--default-background-color);
}

.franklin-content {
    text-align: justify;
    line-height: 1.5em;
    position: relative;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 480px) {
    .franklin-content {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.franklin-content li p {
    margin: 10px 0;
  }
  
.franklin-content a {
    color: var(--link-text-color);
    text-decoration: none;
}

.franklin-content a:hover {
    color: var(--link-text-color);
    text-decoration: underline;
}

/* === Toc === */
.franklin-toc li {
    margin: 0.6rem 0;
}

.franklin-toc ol ol {
    list-style-type: lower-alpha;
}

/* === Header === */
.main-header {
    display: flow-root;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5em;
    font-size: var(--h3-font-size);
    text-align: justify;
    color: var(--header-text-color);
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--separator-color);
}

.main-header a {
    color: var(--header-text-color);
    text-decoration: none;
}

.main-header .separator {
    color: var(--separator-color);
    font-weight: bold;
    text-align: center;
}

@media (max-width: 480px) {
    .main-header {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.main-header .blog-name {
    width: 35%;
    float: left;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    
}

.main-header .main-menu {
    float: right;
    text-align: right;
    margin: 0 auto;
    padding: 0;
}

/* === Titles === */
.franklin-content h1 { color: var(--title-text-color); font-weight: 500; text-align: left; }
.franklin-content h2 { color: var(--title-text-color); font-weight: 500; text-align: left; }
.franklin-content h3 { color: var(--title-text-color); font-weight: 500; text-align: left; }
.franklin-content h4 { color: var(--title-text-color); font-weight: 500; text-align: left; }
.franklin-content h5 { color: var(--title-text-color); font-weight: 500; text-align: left; }
.franklin-content h6 { color: var(--title-text-color); font-weight: 500; text-align: left; }

.franklin-content h1 a { color: inherit; text-decoration: none; }
.franklin-content h2 a { color: inherit; text-decoration: none; }
.franklin-content h3 a { color: inherit; text-decoration: none; }
.franklin-content h4 a { color: inherit; text-decoration: none; }
.franklin-content h5 a { color: inherit; text-decoration: none; }
.franklin-content h6 a { color: inherit; text-decoration: none; }

.franklin-content h1 a:hover { color: inherit; text-decoration: none; }
.franklin-content h2 a:hover { color: inherit; text-decoration: none; }
.franklin-content h3 a:hover { color: inherit; text-decoration: none; }
.franklin-content h4 a:hover { color: inherit; text-decoration: none; }
.franklin-content h5 a:hover { color: inherit; text-decoration: none; }
.franklin-content h6 a:hover { color: inherit; text-decoration: none; }

.franklin-content h1 { font-size: var(--h1-font-size); }
.franklin-content h2 { font-size: var(--h2-font-size); }
.franklin-content h3 { font-size: var(--h3-font-size); }

.franklin-content h1, h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.franklin-content h1 {
    border-bottom: 3px double var(--separator-color);
}

.franklin-content h2 {
    border-bottom: 1px solid var(--separator-color);
}

/* Blockquotes */
.franklin-content blockquote {
    font-style: italic;
    background: var(--comment-background-color);
    margin: 1.5em 0.5em;
    padding: 0.5em 0.5em;
    border-left: 7px solid var(--comment-border-color);
}
  
.franklin-content blockquote p {
    display: inline;
}  


/* === KaTeX === */
body { counter-reset: eqnum; }

.katex-display .katex {
    display: inline-block;
}

.katex-display::after {
    counter-increment: eqnum;
    content: "(" counter(eqnum) ")";
    position: relative;
    float: right;
    padding-right: 5px;
}

.nonumber .katex-display::after {
    counter-increment: nothing;
    content: "";
}

/* === Code === */
.franklin-content code {
    font-family: "Ubuntu Mono", monospace;
    font-weight: normal;
    font-size: 0.8em;
    line-height: inherit;
    background-color: var(--code-background-color);
    padding: 0.2em;
    border: 1px solid var(--code-border-color);
    border-radius: 4px;
}

.hljs {
    line-height: 1.35em;
    border-radius: 10px;
}

.hljs-meta { font-weight: 500; color: var(--code-meta-text-color); }
.hljs-meta.shell_ { color: var(--code-shell-text-color); }
.hljs-meta.pkg_ { color: var(--code-pkg-text-color); }

.franklin-content .code-output {
    background: var(--code-background-color);
    border: 1px dashed var(--code-border-color);
}

.julia-help {
    background-color: var(--code-help-background-color);
    border-left: 7px solid var(--code-help-border-color);
    padding: 10px;
    font-style: italic;
}

.julia-help h1, h2, h3 {
    font-size: 1em;
    font-weight: 500;
    border-bottom: none;
}

/* === Footer === */
.franklin-content .page-foot {
    font-size: 0.8em;
    color: var(--footer-text-color);
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
    padding-top: 2em;
    border-top: 1px solid var(--separator-color);
}

.franklin-content .page-foot a {
    color: var(--footer-text-color);
    text-decoration: underline;
}

/* header, div.blog-name, nav ul li a .active img#menu-icon */